<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="dashboard">
		<h1>
			Dashboard - <span class="username">Welcome Executive to SRS
				System </span>
		</h1>
		<hr>
		<div class="row cards-container">
				<div class="col">
				
					<div class="card text-white bg-info mb-3 banner" style="max-width: 18rem;" id="OPEN" ng-click="clickedForHistory($event)">
						<div class="card-header">Issues Raised</div>
						<div class="card-body icon-card-body">
							<i class="fas fa-question-circle mn-icon"></i> <span ng-cloak
								class="info-title">{{openIssuesCount}}</span>
						</div>
					</div>
					
				
			</div>
			<div class="col">
				<div class="card text-white bg-warning mb-3 banner"
					style="max-width: 18rem;" id="ONHOLD" ng-click="clickedForHistory($event)">
					<div class="card-header">Issues On Hold</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-stopwatch mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesOnHold}}</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-danger mb-3 banner"
					style="max-width: 18rem;" id="CLOSED" ng-click="clickedForHistory($event)">
					<div class="card-header">Issues Resolved</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-check mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesResolved}}</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-success mb-3 banner" style="max-width: 18rem;" id="WORKING" ng-click="clickedForHistory($event)">
					<div class="card-header">Issues Working On</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-tasks mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesWorkingOn}}</span>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-black bg-default mb-3 banner"
					style="max-width: 18rem;" id="UNRESOLVABLE" ng-click="clickedForHistory($event)">
					<div class="card-header">Issues Unresolvable</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-exclamation-triangle mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesUnresolvable}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card recent-card" id="recentSrsContainer">
				<h3 id="recentId">Recently Raised Issues</h3>
				<table class="table table-striped recent-table" id = "issuesTable">
					<thead>
						<tr>
							<th>Classification</th>
							<th>#Id</th>
							<th class="description">Description</th>
							<th>Priority</th>
							<th>Time of Ticket</th>
							<th>Raised By</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="issue in recentIssuesData | limitTo:5">
						<td>
							<button  ng-if="issue.subCategory.issueType == 'INCIDENT'" ng-click="showSlider(issue); $event.stopPropagation();" class="btn btn-warning btn-tag">INCIDENT</button>
							<button  ng-if="issue.subCategory.issueType == 'REQUEST'" ng-click="showSlider(issue); $event.stopPropagation();" class="btn btn-primary btn-tag">REQUEST</button>
						</td>
						<td>{{ issue.id }}</td>
						<td class="description">{{ issue.description }}</td>
						<td>{{ issue.subCategory.issuePriority }}</td>
						<td>{{ issue.timeAgo }}</td>
						<td>{{ issue.employee.id }}</td>
						<td>{{ issue.status }}</td>
					</tr>
					</tbody>
				</table>
		</div>

	</div>
</body>
</html>