<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light"
		th:fragment="navbar">
		<div class="container">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/images/logo.png}" width="80" height="30"
				class="d-inline-block align-top" alt=""> SRS
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active" id="home-exec"><a class="nav-link"
						href="#">Home <span class="sr-only">(current)</span></a></li>
					<li class="nav-item" id="new-issues"><a class="nav-link"
						href="#">New Issues</a></li>
					<li class="nav-item dropdown" id="all-issues-history">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">History</a>
						<div class="dropdown-menu" id="navbarMenu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" ng-click="getAllTickets()">All</a> 
							<a class="dropdown-item" href="#">Self</a>
						</div></li>
				</ul>
			</div>
			<div class="search">
				<i class="fas fa-search"></i> <input id="ticketSearchInput"
					type="text" placeholder="Ticket Id" ng-keypress="search($event);"
					ng-model="searchTicketId" />
				<div ng-show="loaderShow" class="loader"></div>
			</div>
		</div>
	</nav>

</body>
</html>