<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div th:fragment="raiseFragment">
		<h1>Raise an SRS</h1>
		<hr>
		<p class="imp">Fill the following details to raise an SRS</p>
		<form>
			<div class="form-group">
				<label for="formGroupExampleInput">Category:</label>
				<div class="row dropdown-group">
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button"
								id="catButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Select Main Category</button>
							<div class="dropdown-menu" id="catDropdownMenu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" ng-repeat="cat in catData"
									ng-click="changeCategory($event);" id={{cat.id}}>{{cat.name}}</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button"
								id="subCatButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Select Sub-Category</button>
							<div class="dropdown-menu" id="subCatDropdownMenu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" ng-repeat="subCat in subCatData"
									ng-click="changeSubCategory($event);" id={{subCat.id}}>{{subCat.name}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Location</label> <input
							type="text" id="disabledTextInput" class="form-control"
							placeholder="Disabled input" disabled value="Mumbai"
							ng-model="empData.location.name">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Department</label> <input
							type="text" class="form-control" id="formGroupExampleInput"
							placeholder="Example input" disabled value="PDT-1"
							ng-model="empData.employee.department.name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Ticket Classification</label> <input
							type="text" id="disabledTextInput" class="form-control"
							placeholder="Ticket Classification" disabled value="Request" ng-model="classification">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Priority</label> <input
							type="text" class="form-control" id="formGroupExampleInput"
							placeholder="Ticket Priority" disabled value="Medium" ng-model="priority">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Seat Number</label> <input
							type="text" id="disabledTextInput" class="form-control"
							placeholder="Disabled input" disabled value="0"
							ng-model="empData.employee.seatNo">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Extension Number</label> <input
							type="text" class="form-control" id="formGroupExampleInput"
							placeholder="Example input" disabled value="0"
							ng-model="empData.employee.extNo">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">OS Type</label>
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button"
								id="osTypeButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Select OS Type</button>
							<div class="dropdown-menu" id="osDropDownMenu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" ng-repeat="osType in osTypes"
									ng-click="changeOsType($event)" id={{osType}}>{{osType}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="formGroupStatus">Status</label> <input
							type="text" class="form-control" id="formGroupStatus"
							placeholder="Status" disabled value="Open">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupManager">Manager</label> <input
							type="text" class="form-control" id="searchManagerInput"
							placeholder="Manager" ng-model="repoManager" ng-keyup="searchManager()">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="formGroupExampleInput">Description</label>
						<textarea class="form-control form-control-textarea" rows="3"
							id="comment" ng-model="description"></textarea>
					</div>
				</div>
			</div>
			<div class="alert alert-danger alert-srs-error" ng-show="srsErrorShow">{{srsError}}</div>
			<div class="alert alert-success alert-srs-success" ng-show="srsSuccessShow">{{srsSuccess}}</div>
			<div class="row row-submit">
				<button class="btn btn-info submit-btn" ng-click="submitSrs()">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>