<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div class="dashboard-container" th:fragment="dashboard">
		<h1>
			Dashboard - <span class="username">Welcome Amar Pawar</span>
		</h1>
		<hr>
		<div class="row cards-container">
			<div class="col-xl-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">Issues Raised</div>
					<div class="card-body card-body-status">
						<i class="fas fa-question-circle mn-icon"></i> <span
							class="info-title">20</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-success mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues Resolved</div>
					<div class="card-body card-body-status">
						<i class="fas fa-check-circle mn-icon"></i> <span
							class="info-title">10</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-danger mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues Unresolved</div>
					<div class="card-body card-body-status">
						<i class="fas fa-exclamation-circle mn-icon"></i> <span
							class="info-title">10</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-table">
			<div class="card-header card-table-header">Recent SRS</div>
			<div class="card-body card-body-table">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Token No</th>
							<th>Description</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#" class="tokenNo">1234</a></td>
							<td>Internet is not working.</td>
							<td>Unresolved</td>
						</tr>
						<tr>
							<td><a href="#" class="tokenNo">1235</a></td>
							<td>Install more ram</td>
							<td>Resolved</td>
						</tr>
						<tr>
							<td><a href="#" class="tokenNo">1236</a></td>
							<td>Change the whole system</td>
							<td>Unresolvable</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>