<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div th:fragment="dashboard">
		<h1>
			Dashboard - <span class="username">Welcome <span ng-cloak>{{empData.employee.displayName}}</span> to SRS
				System </span>
		</h1>
		<hr>
		<div class="row cards-container">
			<div class="col-xl-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">Issues Raised</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-question-circle mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesRaised}}</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-success mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues Resolved</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-check-circle mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesResolved}}</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-danger mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Unresolvable Issues <button class="btn view-btn btn-sm">View All</button></div>
					<div class="card-body icon-card-body">
						<i class="fas fa-exclamation-circle mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesUnresolvable}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card recent-card">
			<div class="card-body table-card-body">
				<h3 id="recentId">Recently Raised Issues</h3>
				<table class="table table-striped recent-table table-curved">
					<thead>
						<tr>
							<th>Classification</th>
							<th>#Id</th>
							<th>Description</th>
							<th>Priority</th>
							<th>Time of Ticket</th>
							<th>Assigned Engineer</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="recent in recentSrs" ng-cloak>
							<td>
								<button  ng-if="recent.subCategory.issueType == 'INCIDENT'" ng-click="showSlider(recent); $event.stopPropagation(); console.log('clicked on main container');" class="btn btn-warning btn-tag">INCIDENT</button>
								<button  ng-if="recent.subCategory.issueType == 'REQUEST'" ng-click="showSlider(recent); $event.stopPropagation(); console.log('clicked on main container');" class="btn btn-primary btn-tag">REQUEST</button>
							</td>
							<td class="idTd"><span class="tokenLink">{{recent.id}}</span></td>
							<td class="description">{{recent.description}}</td>
							<td>{{recent.subCategory.issuePriority}}</td>
							<td>{{recent.timeAgo}}</td>
							<td>{{recent.engineer.id}}</td>
							<td>{{recent.status}}</td>
						</tr>
						<!--<tr>
							<td><button class="btn btn-warning btn-sm">Incident</button></td>
							<td><span class="tokenLink">1234</span></td>
							<td class="description">Internet is not working. Internet is not working. Internet is not working. Internet is not working. Internet is not working. Internet is not working. Internet is not working.</td>
							<td>Unresolved</td>
						</tr>
						<tr>
							<td><button class="btn btn-primary btn-sm">Request</button></td>
							<td><span class="tokenLink">1235</span></td>
							<td>Install more ram</td>
							<td>Resolved</td>
						</tr>
						<tr>
							<td><button class="btn btn-warning btn-sm">Incident</button></td>
							<td><span class="tokenLink">1236</span></td>
							<td>Change the whole system</td>
							<td>Unresolvable</td>
						</tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:fragment="exec-dashboard">
		<h1>
			Dashboard - <span class="username">Welcome Executive to SRS
				System </span>
		</h1>
		<hr>
		<div class="row cards-container">
				<div class="col-xl-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">Issues Raised</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-question-circle mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesRaised}}</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-warning mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues On Hold</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-stopwatch mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesOnHold}}</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-danger mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues Resolved</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-check mn-icon"></i> <span ng-cloak
							class="info-title">{{issuesResolved}}</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
					<div class="card-header">Issues Working On</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-tasks mn-icon"></i> <span
							class="info-title">20</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card text-black bg-default mb-3"
					style="max-width: 18rem;">
					<div class="card-header">Issues Unresolvable</div>
					<div class="card-body icon-card-body">
						<i class="fas fa-exclamation-triangle mn-icon"></i> <span
							class="info-title">10</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card recent-card">
			<div class="card-header recent-card-header">Recenlty Raised
				Issues</div>
			<form class="table-responsive">
				<table class="table" id = "issuesTable">
					<thead>
						<tr>
							<th></th>
							<th>#Id</th>
							<th>Description</th>
							<th>Priority</th>
							<th>Time of Ticket</th>
							<th>Raised By</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="issue in recentIssuesData">
						<td>
							<button  ng-if="issue.subCategory.issueType == 'INCIDENT'" ng-click="showSlider(issue)" class="btn btn-warning btn-tag">INCIDENT</button>
							<button  ng-if="issue.subCategory.issueType == 'REQUEST'" ng-click="showSlider(issue)" class="btn btn-primary btn-tag">REQUEST</button>
						</td>
						<td>{{ issue.id }}</td>
						<td>{{ issue.description }}</td>
						<td>{{ issue.subCategory.issuePriority }}</td>
						<td>{{ issue.timeAgo }}</td>
						<td>{{ issue.employee.id }}</td>
						<td>{{ issue.status }}</td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>

</body>
</html>