<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="modal fade" id="firstLoginModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" data-backdrop="static" th:fragment="modal">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">First Time
						Login - Fill Details</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="modalForm">
						<div class="form-group">
							<label for="formGroupExampleInput">Username:</label> <input
								type="text" class="form-control" id="emp_username_input"
								placeholder="Username" ng-model="empData.id" disabled>
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput">Email Id:</label> <input
								type="text" class="form-control" id="emp_email_input"
								placeholder="Username" ng-model="empData.email" disabled>
						</div>
						<div class="row">
							<div class="col-xl-6">
								<div class="form-group">
									<label for="formGroupExampleInput">Location</label>
									<div class="dropdown">
										<button class="btn btn-info dropdown-toggle" type="button"
											id="locationButton" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">Select
											Your Location</button>
										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" ng-repeat="loc in locData"
												ng-click="changeLocation($event)" id={{loc.id}}>{{loc.name}}</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-6">
								<div class="form-group">
									<label for="formGroupExampleInput">Department</label>
									<div class="dropdown">
										<button class="btn btn-info dropdown-toggle" type="button"
											id="deptButton" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">Select Your Department</button>
										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" ng-repeat="dept in departments"
												ng-click="changeDept($event)" id={{dept.id}}>{{dept.name}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6">
								<div class="form-group">
									<label for="formGroupExampleInput">Seat Number:</label> <input
										type="text" class="form-control" id="emp_seatno_input"
										placeholder="Seat Number" ng-model="empData.seatNo">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="formGroupExampleInput2">Extension Number:</label> <input
										type="text" class="form-control" id="emp_extno_input"
										placeholder="Extension Number" ng-model="empData.extNo">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="formGroupManager">Manager</label>
									<div class="row">
										<div class="col">
											<input type="text" class="form-control searchManagerInput" id="searchManagerInput"
												placeholder="Edit Manager"
												ng-model="empData.employee.reportingManager.id"
												ng-keyup="searchManager($event)" disabled>
										</div>
										<div class="col">
											<button class="btn btn-primary" ng-click="editManager($event)">Edit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="alert alert-danger">{{genError}}</div>
						<div class="alert alert-success">{{successMsg}}</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary btn-sm"
						id="saveButton" ng-click="updateEmp()">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>