<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div th:fragment="newIssuesFragment">
		<h1>New SRS Raised</h1>
		<hr>
		<p class="imp">View latest SRSs raised</p>
		<div>
			<div class="form-group">
				<div class="row dropdown-group">
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Select Main Category</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" href="#!">Action</a> <a
									class="dropdown-item" href="#!">Another action</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Select Sub-Category</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" href="#!">Action</a> <a
									class="dropdown-item" href="#!">Another action</a>
							</div>
						</div>
					</div>
					<div class="col row-submit">
						<button class="btn btn-info submit-btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
			<form class="table-responsive">
				<table class="table" id = "issuesTable">
					<thead>
						<tr>
							<th></th>
							<th>#Id</th>
							<th>Description</th>
							<th>Priority</th>
							<th>Time of Ticket</th>
							<th>Raised By</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="issue in issuesData">
						<td>
							<button  ng-if="issue.subCategory.issueType == 'INCIDENT'" ng-click="showSlider(issue)" class="btn btn-warning btn-tag">INCIDENT</button>
							<button  ng-if="issue.subCategory.issueType == 'REQUEST'" ng-click="showSlider(issue)" class="btn btn-primary btn-tag">REQUEST</button>
						</td>
						<td>{{ issue.id }}</td>
						<td>{{ issue.description }}</td>
						<td>{{ issue.subCategory.issuePriority }}</td>
						<td>{{ issue.timeAgo }}</td>
						<td>{{ issue.employee.id }}</td>
						<td>{{ issue.status }}</td>
					</tr>
					</tbody>
				</table>
			</form>
			
	</div>
</body>
</html>