<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<!-- 	<div th:fragment="sliderFragment">
		<h1 class="srs-heading">
			<button class="btn btn-success btn-circle back-btn">
				<i class="fas fa-chevron-right"></i>
			</button>
			SRS Report
		</h1>
		<hr>
	</div> -->
	<div th:fragment="sliderFragment-exec" class="sliderDiv">
		<div class="search slider-search">
			<i class="fas fa-search"></i> <input id="ticketSearchSliderInput"
				type="text" placeholder="Ticket Id" ng-keypress="search($event);"
				ng-model="searchTicketId" />
			<div ng-show="loaderShow" class="loader"></div>
		</div>
		<h1 class="srs-heading">
			<button class="btn btn-success btn-circle back-btn">
				<i class="fas fa-chevron-right"></i>
			</button>
			SRS Report #{{issue.id}}
		</h1>
		<hr>
		<div class="container-fluid srs-details">
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Issue #Id:</div>
				<div class="col-xl-9 srs-col">{{ issue.id }}</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Date Time:</div>
				<div class="col-xl-9 srs-col">{{ issue.formattedTime }}</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Description:</div>
				<div class="col-xl-9 srs-col">{{ issue.description }}</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Category:</div>
				<div class="col-xl-9 srs-col">{{ issue.subCategory.name }}</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Type:</div>
				<div class="col-xl-9 srs-col">{{ issue.subCategory.issueType
					}}</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Raised By:</div>
				<div class="col-xl-9 srs-col">
					{{ issue.employee.id }}
				</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">
					Assigned Engineer:
				</div>
				<div class="col-xl-9 srs-col">
					<button class="btn btn-primary btn-sm" ng-show="issue.showAssigned" ng-click="assignEngineer($event, issue)">Assign to Me</button>
					{{ issue.engineer.id }}
				</div>
			</div>
			<div class="row srs-row">
				<div class="col-xl-3 srs-col srs-col-heading">Machine IP:</div>
				<div class="col-xl-9 srs-col">{{issue.employee.machineIp }}</div>
			</div>
			<div class="row srs-row">
				<div class="col">
					<a href="sip:{{ issue.employee.email }}" id="skypeBtn"
						class="btn btn-primary btnLink"> Skype </a> <a
						class="btnLink btn btn-warning"
						href="mailto:{{issue.employee.email}}?subject=Regarding #{{issue.id}}:{{issue.description}} | {{issue.status}}&amp;body=Hi%2C%0A%0AThis%20is%20in%20regards%20with%20the%20SRS%20raised%20by%20you.%20Following%20are%20the%20details%20of%20SRS-%0A%0AId%3A {{issue.id}}%0ADate%20of%20raisal%3A {{issue.formattedTime}}%0ADescription%3A%09{{issue.description}}%0ACurrent%20Status%3A%09{{issue.status}}%0AEngineer%20Assigned%3A%09{{issue.engineer.email}}%0A">Email</a>
				</div>
			</div>
		</div>	
		
		<div class="card comments-card">
			<div class="card-header">Comments</div>
			<div class="card-body">
				<div class="comment-row" ng-repeat="comment in commentData">
					<div class="comment-body">
						<span class="comment-by">{{ comment.commentBy.id }}:</span> {{ comment.message }}
					</div>
					<div class="comment-status-button">
						<span class="comment-time">{{ comment.formattedTime }}</span>
						<div class="status-btn">
							<button class="btn btn-sm btn-primary closeButton" id="1"
								ng-mouseover="changeFromTo($event, comment)" ng-mouseleave="hideBubble()">{{comment.statusTo}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="newCommentBox">
			<div class="textareaDiv">
				<label for="comment">Comment :</label>
				<textarea rows="3" style="width: 100%;" ng-model="commentText"
					class="commentText" id="commentText" name="comment"></textarea>
			</div>
			<div class="row">
				<div class="col">
					<div class="dropup" ng-show="empData.role == 'EXECUTIVE'" id="statusBtnDiv">
						<button class="btn btn-primary dropdown-toggle" type="button"
							id="changeCommentStatusButton" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false" >Select Status</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item" ng-click="changeCommentStatus($event)" ng-repeat="status in statusData">{{ status }}</a>
						</div>
					</div>
				</div>
				<div class="col">
					<button class="btn btn-primary" id="commentSubmitBtn" ng-click="comment(issue)">Submit</button>
				</div>
			</div>
			
		</div>

	</div>
</body>
</html>