html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.main-container {
	width: 100%;
	height: auto;
	min-height: 100%;
	padding: 0 !important;
	overflow: auto;
	display: block;
}

.navbar {
	box-shadow: 0 2px 5px #e6e6e6;
	z-index: 10;
}

a.navbar-brand {
	font-weight: bold;
}

.d-inline-block {
	margin-right: 8px;
}

li {
	padding-left: 8px;
	padding-right: 8px;
}

div.inner-container {
	position: relative;
	height: auto;
	display: block;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #CCCCCC;
	padding: 0 !important;
	overflow: hidden;
}

div.views-container {
	width: 300%;
	height: auto;
	overflow: auto;
}

div.dashboard-container {
	width: 33.33%;
	height: auto;
	overflow: auto;
	display: block;
	box-sizing: border-box;
	padding: 30px 50px;
	float: left;
	transition: margin-left 800ms ease;
}

div.raise-container, div.history-container {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 30px 50px;
	transition: margin-left 800ms ease;
}

h1 {
	font-size: 26px;
}

span.username {
	font-size: 20px;
}

.icon-card-body {
	text-align: center;
	font-size: 40px;
}

div.card {
	margin-left: auto;
	margin-right: auto;
}

div.cards-container {
	margin-bottom: 30px;
}

div.recent-card {
	border: 0;
	box-sizing: border-box;
	padding: 30px;
	font-size: 14px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #CCCCCC;
}
.recent-table{
	width: 100%;
	padding: 0;
	margin: 0;
}
.recent-table td{
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.description{
	width: 45%;
}
.recent-card-header {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.table-card-body {
	padding: 0 !important;
}
div.slider{
	width: 70%;
	height: 100%;
	position: fixed;
	left: 100%;
	top: 0;
	box-shadow: -2px 0 2px #a6a6a6;
	z-index: 100;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding: 30px;
	transition: left 500ms ease;
	overflow: auto;
}
button.back-btn{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin-right: 12px;
	box-shadow: 0 0 5px #a6a6a6 !important;
}
p.imp{
	color: rgb(49, 112, 143);
	font-size: 14px;
}
form{
	width: 96%;
	height: auto;
	min-height: 100%;
	overflow: auto;
	border: 1px solid #d9d9d9;
	padding: 30px;
	margin: 0 auto;
	box-shadow: 0px 0px 4px #bfbfbf;
	border-radius: 4px;
	font-size: 14px;
}
.btn-info{
	width: 100%;
	font-size: 14px;
}
.dropdown-group{
	width: 80%;
	margin: 0 auto;
}
input[type=text]{
	font-size: 14px;
}
.dropdown-menu{
	width: 100%;
}
.form-control-textarea{
	resize: none;
	font-size: 14px;
}
.row-submit{
	text-align: center;
}
.submit-btn{
	width: auto;
	margin: 0 auto;
}
.tokenLink{
	color: #007bff;
}
.idTd{
	text-align: center;
}
.modalForm{
	box-shadow: none;
	border: none;
}
.dropdown-item{
	font-size: 14px;
	cursor: pointer;
}
.dropdown-menu{
	box-shadow: 0px 0px 5px #CCCCCC;
}
.alert-danger, .alert-success{
	display: none;
}
.alert-srs-error, .alert-srs-success{
	display: block;
}
.btn-sm{
	font-size: 12px;
}
h3#recentId{
	font-size: 20px;
	margin-bottom: 20px;
}
.view-btn{
	float: right;
	font-size: 11px;
}
.srs-col{
	font-size: 14px;
	box-sizing: border-box;
}
.srs-row{
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	box-sizing: border-bottom;
	padding: 12px;
}
.srs-col-heading{
	font-weight: bold;
}
.btnLink{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
}
#skypeBtn{
	margin-right: 12px;
}
.comments-card{
	margin-top: 12px;
}
.comments-card .card-body{
	padding: 0;
}
.comment-row{
	font-size: 14px;
	box-sizing: border-box;
	padding: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	overflow: auto;
}
.comment-by{
	font-weight: bold;
}
.comment-status-button{
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-right: 40px;
}
.status-btn{
	position: relative;
	float: right;
}
div.status-bubble{
	width: 150px;
	height: 80px;
	background-color: #dc3545;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	box-shadow: 0 0 8px #ec939c;
	border-radius: 6px;	
	display: none;
	
}
.comment-time{
	font-size: 12px;
	font-style: italic;
	color: #999999;
	float: left;
}
div.triangle{
	width: 0;
	height: 0;
	position: absolute;
	top: 80px;
	left: calc(50% - 8px);
	border-top: 8px solid #dc3545;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
}
@media only screen and (max-width: 576px) {
	div.slider{
		width: 100%;
		height: 100%;
	}
}
.btn-tag{
	font-size: 10px!important;
	width: 100%;
}