<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Zycus SRS System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel='stylesheet'
	href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css'
	type='text/css' media='all' />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/app.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<script th:src="@{/js/main.js}"></script>
</head>
<body>
	<script src="https://code.angularjs.org/1.7.4/angular.js"></script>
	<script type='text/javascript'
		src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
	<script th:src="@{/js/app.js}"></script>
	<script th:src="@{/js/moment.js}"></script>
	<div class="container-fluid main-container" ng-app="srsApp"
		ng-controller="controller">
		<div class="status-bubble" id="bubble">
			<span class="from ng-class:fromClass">{{from}}</span> &#8594; <span class="to ng-class:toClass">{{to}}</span>
			<div class="triangle"></div>
		</div>
		<th:block th:if="${role == 'employee'}">
			<div class="navbarContainer"
				th:insert="fragments/employee/navbar :: navbar"></div>
		</th:block>
		<th:block th:if="${role == 'manager'}">
			<div class="navbarContainer"
				th:insert="fragments/manager/navbar :: navbar"></div>
		</th:block>
		<th:block th:if="${role == 'executive'}">
			<div class="navbarContainer"
				th:insert="fragments/executive/navbar :: navbar"></div>
		</th:block>
		<th:block th:if="${role == 'admin'}">
			<div class="navbarContainer"
				th:insert="fragments/admin/navbar :: navbar"></div>
		</th:block>
		<div class="container-fluid inner-container">
			<div class="views-container">
				<th:block th:if="${role == 'employee'}">
					<div class="vcontainer" id="container-1"
						th:insert="fragments/employee/dashboard :: dashboard"></div>
					<div class="vcontainer" id="container-2"
						th:insert="fragments/employee/raise-fragment :: raiseFragment" ></div>
					<div class="vcontainer" id="container-3">
						<h1>History</h1>
						<hr>
					</div>
					<script th:src="@{/js/controller.js}"></script>
				</th:block>
				<th:block th:if="${role == 'manager'}">
					<div class="vcontainer" id="container-1" 
						th:insert="fragments/employee/dashboard :: dashboard"></div>
					<div class="vcontainer" id="container-2"
						th:insert="fragments/employee/raise-fragment :: raiseFragment"></div>
					<div class="vcontainer" id="container-3">
						<h1>History</h1>
						<hr>
					</div>
					<div class="vcontainer" id="container-4"
						th:insert="fragments/manager/approval-fragment :: approvalFragment"></div>
					<script th:src="@{/js/controller.js}"></script>
				</th:block>
				<th:block th:if="${role == 'executive'}">
					<div class="vcontainer" id="container-1"
						th:insert="fragments/executive/dashboard :: dashboard"></div>
					<div class="vcontainer" id="container-2"
						th:insert="fragments/executive/new-issues-fragment :: newIssuesFragment"></div>
					<div class="vcontainer" id="container-3"
						th:insert="fragments/executive/historyFragment ::historyExeFragment"></div>
					<script th:src="@{/js/exec-controller.js}"></script>
				</th:block>
				<th:block th:if="${role == 'admin'}">
					<div class="vcontainer" id="container-1"
						th:insert="fragments/admin/dashboard :: dashboard"></div>
					<div class="vcontainer" id="container-2"
						th:insert="fragments/admin/reports-fragment :: report"></div>
					<div class="vcontainer" id="container-3"
						th:insert="fragments/executive/historyFragment ::historyExeFragment"></div>
					<script th:src="@{/js/admin-controller.js}"></script>
					<script src="https://www.gstatic.com/charts/loader.js"></script>
				</th:block>
			</div>
		</div>
		<div class="modalContainer"
			th:insert="fragments/modal-fragment :: modal"></div>
		<div class="slider"
			th:insert="fragments/slider-fragment :: sliderFragment-exec"></div>
	</div>
</body>
</html>