<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Zycus SRS - Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.js}"></script>
<script>
	$(document).ready(function() {

		var height = $(".navBar").outerHeight();
		height += 30;

		var height2 = $(".srs-report-container").outerHeight();

		$(".main-container").css({
			"height" : "calc(100% - " + height + "px)"
		})

		$(".srs-report-container").css({
			"margin-top" : "-" + height2 + "px"
		})

		$("#home").click(function() {

			//$(".dashboard-container").css("left", "-100%");
			//$(".srs-container").css("left", "0");

			$(".card-body-status").css("font-size", "30px");

			$(".main-container").css({
				"margin-left" : "60px"
			})

			$(".dashboard-container").css({
				"width" : "50%"
			});

			$(".mn-icon").css("margin-right", "8px");

			$(".card-header").css("font-size", "14px");

			$(".srs-card").css({
				"left" : "50%"
			})

			$(".back-btn").click(function() {

				$(".card-body-status").css("font-size", "50px");

				$(".main-container").css({
					"margin-left" : "100px"
				})

				$(".dashboard-container").css({
					"width" : "100%"
				});

				$(".mn-icon").css("margin-right", "20px");

				$(".card-header").css("font-size", "1rem");

				$(".srs-card").css({
					"left" : "100%"
				})
			})
		})

		$("#raise").click(function() {
			console.log("raise clicked");
			$(".srs-report-container").css({
				"margin-top" : "0",
				"visibility" : "visible"
			})
		})
	})
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="navBar" th:insert="fragments/navbar-fragment :: navbar"></div>
		<div class="container-fluid srs-report-container">
			<h1>Raise An SRS</h1>
			<hr>
		</div>
		<div class="container-fluid main-container">
			<div class="dashboard-container">
				<h1>
					Dashboard - <span class="username">Welcome Amar Pawar</span>
				</h1>
				<hr>
				<div class="row cards-container">
					<div class="col-xl-4">
						<div class="card text-white bg-info mb-3"
							style="max-width: 18rem;">
							<div class="card-header">Issues Raised</div>
							<div class="card-body card-body-status">
								<i class="fas fa-question-circle mn-icon"></i> <span
									class="info-title">20</span>
							</div>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="card text-white bg-success mb-3"
							style="max-width: 18rem;">
							<div class="card-header">Issues Resolved</div>
							<div class="card-body card-body-status">
								<i class="fas fa-check-circle mn-icon"></i> <span
									class="info-title">10</span>
							</div>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="card text-white bg-danger mb-3"
							style="max-width: 18rem;">
							<div class="card-header">Issues Unresolved</div>
							<div class="card-body card-body-status">
								<i class="fas fa-exclamation-circle mn-icon"></i> <span
									class="info-title">10</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card card-table">
					<div class="card-header card-table-header">Recent SRS</div>
					<div class="card-body card-body-table">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Token No</th>
									<th>Description</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1234</td>
									<td>Internet is not working.</td>
									<td>Unresolved</td>
								</tr>
								<tr>
									<td>1235</td>
									<td>Install more ram</td>
									<td>Resolved</td>
								</tr>
								<tr>
									<td>1236</td>
									<td>Change the whole system</td>
									<td>Unresolvable</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="card srs-card">
			<h1 class="srs-heading">
				<button class="btn btn-success btn-circle back-btn">
					<i class="fas fa-chevron-right"></i>
				</button>
				SRS Report
			</h1>
			<hr>
		</div>
		<div class="modalView" th:insert="fragments/modal-fragment :: modal"></div>
	</div>
</body>
</html>